@charset "utf-8";

/*------------------------
	clearfix.css
------------------------*/

.cfix {
	zoom: 1;
	
	&:after {
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
		line-height: 0;
		content: ".";
	}
}
